//Bootstrap Variable override

$primary: #3f6ad8;
$success: #39c37c;
$primary-light: #00caf2;
$danger: #e15274;

@import "../../node_modules/bootstrap/scss/bootstrap";

//common styles

.text-btn {
  background-color: transparent;
  border: none;
  color: $primary;
}
.title {
  color: #4a4a4a;
}
.container-fluid {
  min-height: 100vh;
}

p {
  margin-bottom: 0;
}

//Top menu Styles
.top-menu {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  padding: 10px 35px;
}

//Header Styles

.header {
  padding: 35px;
  .header-logo {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 8px;
  }
}

//Cards Styles
.cards-container {
  padding: 10px 35px;
  max-width: 100vw;
  margin: auto;
  .card {
    height: calc(100vh - 250px);
    border-color: transparent;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    .card-header,
    .card-footer {
      background: none;
      padding: 15px;
      border-color: lightgray;
    }
    .card-body {
      overflow-y: auto;
      overflow: -moz-scrollbars-none;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        width: 4px !important;
      }
      &::-webkit-scrollbar-thumb {
        background-color: lightgrey;
        border-radius: 20px;
      }
    }
  }
}

//Task list Styles
.card {
  .card-body {
    .tasks-list-container {
      .list-item {
        background-color: white;
        padding: 10px 15px;
        border-radius: 8px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        margin: 15px;
        .left {
          &[status] {
            border-left: 3px solid $orange;
          }
          &[status="latest"] {
            border-left: 3px solid $success;
          }
          &[status="planned"] {
            border-left: 3px solid $primary-light;
          }
          &[status="rejected"] {
            border-left: 3px solid $danger;
          }
        }
        .right {
          .badge {
            &[status="latest"] {
              background: $success;
            }
            &[status="planned"] {
              background: $primary-light;
            }
            &[status="rejected"] {
              background: $danger;
            }
          }
        }
      }
    }
  }
  .card-footer {
    .btn-primary {
      background: $primary;
      color: white;
    }
    .text-btn {
      color: $primary;
    }
  }
}

//Chat Styles
.card {
  .card-body {
    .chat-container {
      .user-image {
        position: relative;
        max-height: max-content;
        .user-status {
          top: 75%;
          left: 75%;
          padding: 5px;
        }
      }
      .message {
        .message-content {
          background-color: #dff2ff;
          font-size: 15px;
        }
        .message-details {
          small {
            font-size: 12px;
          }
        }
      }
      .sender {
        display: flex;
        .user {
          margin-right: 20px;
        }
        .message {
          margin-bottom: 25px;
          .message-content {
            border-radius: 30px;
            border-top-left-radius: 8px;
          }
        }
      }
      .receiver {
        display: flex;
        flex-direction: row-reverse;
        .user {
          margin-left: 20px;
        }
        .message {
          margin-bottom: 15px;
          .message-content {
            border-radius: 30px;
            border-top-right-radius: 8px;
          }
          .message-details {
            text-align: right;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 80%;
  }
  .top-menu {
    padding: 10px;
  }
  .header {
    padding: 25px 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .header-logo {
      display: none;
    }
    .content {
      margin-bottom: 15px;
    }
  }
  .cards-container {
    padding: 10px;
    .card {
      &:first-child {
        margin-bottom: 25px;
      }
    }
  }
}
